

/* Force a vertical scroll bar to stop 'jumps' */

html {
	overflow-y: scroll; 
}

body { 
  font-family: "Verdana", "Arial", "sans-serif";
  margin: 25px 50px 50px 50px;
  font-size: 60%; 
}

#ribbon {
  position: fixed;
  top: 0em;
  right: 0em;
}

/* Center the webpage */

#container {
   width:900px;
   margin-left:auto;
   margin-right:auto;
}

/* Center the tabs */

#tabs .ui-tabs-nav {
  height: 2.4em;
  text-align: center;
}
#tabs .ui-tabs-nav li {
  display: inline-block;
  float: none;
  margin: 0em;
}

#tabs {
  max-width: 899px;
}

table, tr, td, th{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  border-collapse: collapse;
}

td {
  padding-top: 2px;
  padding-bottom: 2px;    
}

ul {
  list-style: none;  
}

#header {
  padding-top:5px; 
  padding-bottom:20px; 
  text-align: center;
}

div#materials {
  padding: 13px 25px 25px 25px;   
}

div.content-text {
  padding: 0px 0px 0px 10px;   
}


#div-search {
  width: 395px;
  margin: 5px auto;
}

#box-search {
  padding: 0px 0px 0px 8px;
  margin: 0px 3px 0px 0px;
  width:  350px;
  height: 24px;
  line-height: 22px; 
  /* this line-height being an even number solves
     a nasty problem that in Chrome (not FF, Safari)
     the input box text does not align properly
     with the text in the buttons... */   
}

#div-submit {
  width: 338px;
  margin: 5px auto 30px auto;
}

div.input-row {
  min-height:36px;
}

label.input-label {
  margin-top: 2px;
  margin-left: 20px;
  height:16px;
  width: 100px;
  display: block;
  float: left;   
}

label.input-label-opt {
  margin-top: 2px;
  margin-left: 20px;
  min-height:16px;
  width: 100px;
  display: block;
  float: left;   
  color: #aaaaaa;
}

input.input-box {
  height:24px;
  padding: 0px 0px 0px 8px;
  margin-right:1px;   
}

input.input-box-select {
  height:16px;
  padding-left:4px;
  margin-left:1px;
  margin-right:1px;   
}

table.input {
  margin-left:80px;
  margin-top:15px;
  margin-bottom:10px;
}

tr.input {
  height: 34px;
}

td.input-grouping-wide {
  width: 200px;
}

td.input-grouping {
  width: 110px;
}

td.input-name {
  width: 90px;
}

.ui-tooltip {
  border: 0px solid white;
  box-shadow: 0 0 0px white;
  color:#bbbbbb;
}

.ui-autocomplete {
  max-height: 150px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
}

#grp                         { width:300px; }

#sname, #sdesc, #sid, #ssrc  { width:300px; }
#sown1                       { width:143px; }
#sown2                       { width:142px; }

#minst, #mtech               { width:300px; }
#mdate1                      { width:269px; }
#mdate2a, #mdate2b           { width:127px; }
#mprac1, #mreq1              { width:143px; }
#mprac2, #mreq2              { width:142px; }

#dref                        { width:300px; }
#dinp1                       { width:143px; }
#dinp2                       { width:142px; }
#dinp3                       { width:300px; }
#dnotes                      { width:300px; }

.rtype                       { width:105px; }

.runit                       { width: 60px; }
.risotope                    { width: 70px; }

.rmeas, .rmeaserr, .rmeaserrp, .rmeaserrm,
  .rlimit, .rlimitcl, .rrangel, .rrangeh, .rrangecl { 
  width: 60px; 
}

.uname  { width: 100px; margin-left:15px }                   
.udesc  { width: 130px; } 
.utype  { width:  60px; } 
.uvalue { width:  60px; } 
.uunit  { width:  60px; } 

.spacer1, .spacer2 { 
  border-style: dotted;
  disabled: true;
  width: 60px; 
}
  
textarea.input-textarea {
  padding:2px 0px 3px 5px;
  resize:none;  
  width:303px;
}

button.input {
  height:26px; 
}  

/* Display template formatting */

.faded-less {
  color:#888888;
}

.faded {
  color:#bbbbbb;
}

.heading-isotope-value {
  text-align:right;
  width:90px; 
  display:inline-block; 
  white-space: nowrap; 
  text-overflow:ellipsis; 
  overflow:hidden;
}

.heading-isotope-name {
  text-align:right;
  width:25px; 
  display:inline-block; 
  white-space: nowrap; 
  text-overflow:ellipsis; 
  overflow:hidden;
}

.heading-grouping {
  width:130px; 
  display:inline-block; 
  white-space: nowrap; 
  text-overflow:ellipsis; 
  overflow:hidden;
}

.heading-name {
  width:300px; 
  display:inline-block; 
  white-space: nowrap; 
  text-overflow:ellipsis; 
  overflow:hidden;
}

li.sample-name {
  margin-bottom: 4px;  
}

table.sample-details {
  margin-top: 10px;  
  margin-bottom: 10px; 
}

table.data-details {
  margin-top: 10px;  
  margin-bottom: 25px;  
}

.light-pink { color:#ecb7b8; }
.dark-pink { color:#e18e94; }

td.category {
  width: 100px;
  color:#e18e94;    
}

td.item {
  width: 90px;
  color:#e18e94; 
  /*color:#ecb7b8;*/    
}

td.m_description {
  min-width: 35px;  
  max-width: 500px;
}

td.result-isotope {
  min-width: 35px;
  padding-right: 10px;  
}

td.result-symbol {
  min-width: 30px;
  padding-right: 15px;
  text-align:right;  
}

td.result-number {
  min-width: 35px;
  text-align:right;  
}

td.result-unit {
  min-width: 35px;
  padding-left:10px;  
}

div#tagline {
  margin-top: 20px;
  text-align: center;  
  font-size: 8pt;
  line-height: 1.75em;
}

form *.something-temporary {
  color: #888;
  font-style: italic;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

label.error { 
  float: none; 
  color: #e18e94;
  margin-left: 20px; 
  padding-right: 1em;      
}

/* Sortable table styles */

table.tablesorter {
  font-family:arial;
  background-color: #CDCDCD;
  margin:10px 0pt 15px;
  font-size: 8pt;
  text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
  background-color: #e6EEEE;
  border: 1px solid #FFF;
  font-size: 8pt;
  padding: 4px;
}
table.tablesorter thead tr .header {
  background-image: url(../images/ts_bg.gif);
  background-repeat: no-repeat;
  background-position: center right;
  cursor: pointer;
}
table.tablesorter tbody td {
  color: #3D3D3D;
  padding: 4px;
  background-color: #FFF;
  vertical-align: top;
}
table.tablesorter tbody tr.odd td {
  background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
  background-image: url(../images/ts_asc.gif);
}
table.tablesorter thead tr .headerSortDown {
  background-image: url(../images/ts_desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;




