
<!-- Default display template -->
<!-- Data format specifcation v 1.01 -->

<li class="sample-name">${sample.m_name}

  <ul>

  <!-- sample -->

    <li>    
    <table class="sample-details">
     
      <tr>
        <td class="category">Sample</td>
        <td class="item">Name</td>
        <td>${sample.m_name}</td>
      </tr>
  
      <tr>
        <td></td>
        <td class="item">Description</td>
        <td>${sample.m_description}</td>
      </tr>
  
      {{if sample.m_id != ""}}
        <tr class="hideable">
          <td></td>
          <td class="item">ID</td>
          <td>${sample.m_id}</td>
        </tr>
      {{/if}}
  
      {{if sample.m_source != ""}}
        <tr class="hideable">
          <td></td>
          <td class="item">Source</td>
          <td>${sample.m_source}</td>
        </tr>
      {{/if}}
  
      {{if sample.m_owner.name != "" || sample.m_owner.contact != "" }}
        <tr class="hideable">
          <td></td>
          <td class="item">Owner</td>
          <td>
          ${sample.m_owner.name}
          {{if sample.m_owner.contact != ""}}
            {{if sample.m_owner.name != ""}}          
              (${sample.m_owner.contact})
            {{else}}
              ${sample.m_owner.contact}
            {{/if}}
          {{/if}}
          </td>
        </tr>
      {{/if}}
  
    </table>
    </li>
 
  <!-- Measurement -->

    <li>
    <table class="measurement-details">

      {{if measurement.m_institution != ""}}
        <tr class="hideable">
          <td class="category">Measurement</td>
          <td class="item">Institution</td>
          <td>${measurement.m_institution}</td>
        </tr>
      {{/if}}  

      {{if measurement.m_technique != ""}}  
        <tr class="hideable">
          <td></td>
          <td class="item">Technique</td>
          <td>${measurement.m_technique}</td>
        </tr>
      {{/if}}          
 
      {{if measurement.m_date != ""}}  
        <tr class="hideable">
          <td></td>
          <td class="item">Date</td>
          <td>
            {{if $(measurement.m_date).length == 2 }} <!-- Checking for two elements -->
              ${measurement.m_date[0]} to ${measurement.m_date[1]}
            {{else}}
              ${measurement.m_date}
            {{/if}}            
          </td>
        </tr>
      {{/if}} 

      {{if measurement.m_requestor.name != "" || measurement.m_requestor.contact != "" }}
        <tr class="hideable">
          <td></td>
          <td class="item">Requestor</td>
          <td>
          ${measurement.m_requestor.name}
          {{if measurement.m_requestor.contact != ""}}
            {{if measurement.m_requestor.name != ""}}          
              (${measurement.m_requestor.contact})
            {{else}}
              ${measurement.m_requestor.contact}
            {{/if}}
          {{/if}}
          </td>
        </tr>
      {{/if}}

      {{if measurement.m_practitioner.name != "" || measurement.m_practitioner.contact != "" }}
        <tr class="hideable">
          <td></td>
          <td class="item">Practitioner</td>
          <td>
          ${measurement.m_practitioner.name}
          {{if measurement.m_practitioner.contact != ""}}
            {{if measurement.m_practitioner.name != ""}}          
              (${measurement.m_practitioner.contact})
            {{else}}
              ${measurement.m_practitioner.contact}
            {{/if}}
          {{/if}}
          </td>
        </tr>
      {{/if}}

      {{if measurement.m_description != ""}} 
        <tr class="hideable">
          <td></td>
          <td class="item">Description</td>
          <td class="m_description">${measurement.m_description}</td>
        </tr>
      {{/if}}
     
      {{if measurement.m_results}} 
        <tr>
          <td class="category"></td>
          <td class="item">Results</td>      
          <td>
            <table>
              {{each measurement.m_results}}
                <tr>
                  <td class="result-isotope">${$value.isotope}</td>
                    {{if $value.value}} <!-- measurement -->
                      <td class="result-symbol">&nbsp</td>
                      {{if $value.error != ""}}  
                        <td class="result-number">${$value.value} (${$value.error})</td>   
                      {{else}}
                        <td class="result-number">${$value.value}</td>
                      {{/if}}                            
                    {{else}} <!-- limit -->
                      <td class="result-symbol">&lt</td>                    
                      {{if $value.cl != ""}}  
                        <td class="result-number">${$value.limit} (c.l. ${$value.cl} %)</td>   
                      {{else}}
                        <td class="result-number">${$value.limit}</td>
                      {{/if}}                 
                    {{/if}}
                  <td class="result-unit">${$value.unit}</td>
                </tr>
              {{/each}}
            </table>
          </td>
        </tr>
      {{/if}}
    
    </table>
    </li>
   
  <!-- Data -->   

    <li>
    <table class="data-details">

      <tr class="hideable">
        <td class="category">Data</td>
        <td class="item">Reference</td>
        <td>${data_source.m_reference}</td>
      </tr>

      <tr class="hideable">
        <td></td>
        <td class="item">Data entry</td>
        <td>
          ${data_source.m_input.name} (${data_source.m_input.contact}) on ${data_source.m_input.date}          
        </td>
      </tr>
      
      {{if data_source.m_notes != ""}}
        <tr class="hideable">
          <td></td>
          <td class="item">Notes</td>
          <td>${data_source.m_notes}</td>
        </tr>
      {{/if}}
        
    </table>  
    </li> 
   
  </ul>   
   
</li>