

/* Force a vertical scroll bar to stop 'jumps' */

html {
	overflow-y: scroll; 
}

body { 
  font-family: "Verdana", "Arial", "sans-serif";
  margin: 25px 50px 50px 50px;
  font-size: 60%; 
}

/* Center the webpage */

#container {
   width:900px;
   margin-left:auto;
   margin-right:auto;
}

/* Center the tabs */

#tabs .ui-tabs-nav {
  height: 2.4em;
  text-align: center;
}
#tabs .ui-tabs-nav li {
  display: inline-block;
  float: none;
  margin: 0em;
}

#tabs {
  max-width: 899px;
}

table, tr, td, th{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  border-collapse: collapse;
}

td {
  padding-top: 2px;
  padding-bottom: 2px;    
}

ul {
  list-style: none;  
}

#header {
  padding-top:5px; 
  padding-bottom:20px; 
  text-align: center;
}

div#materials {
  padding: 10px 0px 10px 25px;   
}

/*
div.content {
  padding: 15px 0px 15px 500px;   
}
*/

div.content-text {
  padding: 0px 0px 0px 10px;   
}


#div-search {
  width: 630px;
  margin: 0px auto;
}

#box-search {
  padding: 0px 0px 0px 8px;
  margin: 0px 3px 0px 0px;
  width:  350px;
  height: 24px;
  line-height: 22px; 
  /* this line-height being an even number solves
     a nasty problem that in Chrome (not FF, Safari)
     the input box text does not align properly
     with the text in the buttons... */   
}

fieldset.entry {
  padding: 15px 10px 10px 10px;
  margin: 0px 0px 15px 0px;  
  width: 90%; 
}

div.input-row {
  min-height:28px;
}

label.input-label {
  margin-top: 2px;
  margin-left: 20px;
  height:16px;
  width: 100px;
  display: block;
  float: left;   
}

label.input-label-opt {
  margin-top: 2px;
  margin-left: 20px;
  min-height:16px;
  width: 100px;
  display: block;
  float: left;   
  color: #aaaaaa;
}

input.input-box {
  height:16px;
  padding-left:4px;
  margin-right:1px;   
}

input.input-box-select {
  height:16px;
  padding-left:4px;
  margin-left:1px;
  margin-right:1px;   
}

button.add-entry {
  width:20px;
  height:20px;
  vertical-align:top;  
}

button.remove-entry {
  width:20px;
  height:20px;
  vertical-align:top;  
}

textarea.input-textarea {
  padding:2px 0px 3px 5px;
  margin:0px 1px 6px 0px;
  resize:none;  
}

/* Display template formatting */

.faded-less {
  color:#888888;
}

.faded {
  color:#bbbbbb;
}

li.sample-name {
  margin-bottom: 4px;  
}

table.sample-details {
  margin-top: 10px;  
  margin-bottom: 10px; 
}

table.data-details {
  margin-top: 10px;  
  margin-bottom: 25px;  
}

.light-pink { color:#ecb7b8; }
.dark-pink { color:#e18e94; }

td.category {
  width: 100px;
  color:#e18e94;    
}

td.item {
  width: 90px;
  color:#ecb7b8;    
}

td.m_description {
  min-width: 35px;  
  max-width: 500px;
}

td.result-isotope {
  min-width: 35px;
  padding-right: 10px;  
}

td.result-symbol {
  min-width: 30px;
  padding-right: 15px;
  text-align:right;  
}

td.result-number {
  min-width: 35px;
  text-align:right;  
}

td.result-unit {
  min-width: 35px;
  padding-left:10px;  
}

div#tagline {
  margin-top: 20px;
  text-align: center;  
  font-size: 8pt;
  line-height: 1.75em;
}

form *.something-temporary {
  color: #888;
  font-style: italic;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

label.error { 
  float: none; 
  color: red; 
  padding-left: 0.3em; 
  padding-right: 1em; 
  vertical-align: center;     
}

/* Sortable table styles */

table.tablesorter {
  font-family:arial;
  background-color: #CDCDCD;
  margin:10px 0pt 15px;
  font-size: 8pt;
  text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
  background-color: #e6EEEE;
  border: 1px solid #FFF;
  font-size: 8pt;
  padding: 4px;
}
table.tablesorter thead tr .header {
  background-image: url(bg.gif);
  background-repeat: no-repeat;
  background-position: center right;
  cursor: pointer;
}
table.tablesorter tbody td {
  color: #3D3D3D;
  padding: 4px;
  background-color: #FFF;
  vertical-align: top;
}
table.tablesorter tbody tr.odd td {
  background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
  background-image: url(asc.gif);
}
table.tablesorter thead tr .headerSortDown {
  background-image: url(desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;




