
body { 
   font-family: "Verdana", "Arial", "sans-serif";
   margin: 50px;
   font-size: 60%;  
}

table, tr, td, th{   margin: 0;   padding: 0;   border: 0;   outline: 0;   vertical-align: baseline;   background: transparent;   border-collapse: collapse;}

td {
   padding-top: 2px;
   padding-bottom: 2px;    
}

input.menu-button {
   height:23px; 
   vertical-align:top
}

button.menu-button {
   height:23px;
   vertical-align:top
}

#header {
   padding-bottom:10px;  
}

#materials {
   padding-left:10px  
}

#box-search {
	float:left;
	padding-left: 4px;
	margin-right: 7px;
	width:  300px;
	height: 19px;
}

ul {
   list-style: none;  
}


table.block {
   padding: 10px;  
}

div.top-bar {
   margin-bottom: 10px;  
}


fieldset.entry {
   margin: 0px 0px 10px 10px;
   padding: 15px 10px 10px 10px;  
   width:700px; 
}


div.input-row {
   min-height:25px;
}

label.input-label {
   margin-top: 2px;
   margin-left: 20px;
   height:16px;
	width: 100px;
	display: block;
	float: left;   
}

label.input-label-opt {
   margin-top: 2px;
   margin-left: 20px;
   min-height:16px;
	width: 100px;
	display: block;
	float: left;   
	color: #aaaaaa;
}

input.input-box {
   height:16px;
   padding-left:4px;
   margin-right:1px;   
}

input.select {
   height:60px;
   padding-left:4px;
   margin-right:1px;   
}

textarea.input-textarea {
   padding:2px 0px 0px 5px;
   margin:0px 1px 3px 0px;
   resize:none;  
}

// Display template formatting

li.sample-name {
   margin-bottom: 4px;  
}

table.sample-details {
   margin-top: 10px;  
   margin-bottom: 10px; 
}

table.data-details {
   margin-top: 10px;  
   margin-bottom: 10px;  
}

td.category {   width: 100px;
   color:#009933;    }

td.item {   width: 100px;
   color:#009933;    }

td.result-isotope {
   min-width: 35px;
   padding-right: 10px;  
}

td.result-number {
   min-width: 35px;
   text-align:right;  
}

td.result-unit {
   min-width: 35px;
   padding-left:10px;  
}

#tagline {
   margin-top: 10px;
   text-align: right; 
   color: #999999; 
}






