<form id="input-settings" name="input-settings">
  <table class="input">
    <tr class="input">
      <td class="input-grouping-wide"><b>Max results [10-100]</b></td>
      <td><input class="input-box ui-widget-content" id="max-entry" name=
      "max-entry">
      <span class="istatus"></span></td>
    </tr>
    <tr class="input">
      <td class="input-grouping-wide"><b>Error reporting email</b></td>
      <td><input class="input-box ui-widget-content" id="error-email" name=
      "error-email">
      <span class="istatus"></span></td>
    </tr>
    <tr class="input">
      <td class="input-grouping-wide"><b>Use couchdb-lucene [0/1]</b></td>
      <td><input class="input-box ui-widget-content" id="lucene" name=
      "lucene">
      <span class="istatus"></span></td>
    </tr>
  </table>
</form>
