<div class="accordion" value=${_id}>

<h3 style="height:19px">

	<a href="#">
		<div class="faded-less heading-grouping header-correction">${grouping}</div>
		<div class="heading-name header-correction">${sample.name}</div>
	
		{{each iso}}
	
			{{if $value.unit != "ng/cm2" && $value.unit != "pg/cm2" }}
	
				{{if $value.type == "measurement"}}
				
					<div class="heading-isotope-name header-correction">${$value.isotope} </div>
					{{if $value.value.length == 1 }}
						<div class="faded-less heading-isotope-value header-correction">${$value.value[0]} ${$value.unit}</div>					
					{{/if}}
					{{if $value.value.length == 2 }}
						<div class="faded-less heading-isotope-value header-correction">${$value.value[0]}() ${$value.unit}</div>					
					{{/if}}		
					{{if $value.value.length == 3 }}
						<div class="faded-less heading-isotope-value header-correction">${$value.value[0]}() ${$value.unit}</div>					
					{{/if}}	 
				{{/if}}
	
				{{if $value.type == "limit"}}
					<div class="heading-isotope-name header-correction">${$value.isotope} </div>
					<div class="faded-less heading-isotope-value header-correction">&lt ${$value.value[0]} ${$value.unit}</div>		 
				{{/if}}
	
				{{if $value.type == "range"}}
					<div class="heading-isotope-name header-correction">${$value.isotope} </div>
					<div class="faded-less heading-isotope-value header-correction">${$value.value[0]} - ${$value.value[1]} ${$value.unit}</div>						 
				{{/if}}
	
			{{/if}}
	
		{{/each}}
	
		{{if $(measurement.results).length > 2 }}
			<div class="heading-isotope-name-short">&hellip;</div> 
		{{/if}}
	</a>	 
		<button class="delete-button" type="button" style="float:right;">&nbsp</button>
		<button class="export-button" type="button" style="float:right;display:none">&nbsp</button>
		<button class="detail-button" type="button" style="float:right;display:none">&nbsp</button>

</h3>


<div>
	<span id="meas-info">
		<ul>
			<li class="sample-name"> 

	<ul>

	<!-- sample -->

		<li>		
		<table class="sample-details">
		 
			<tr>
				<td class="category">Sample</td>
				<td class="item">Description</td>
				<td>${sample.description}</td>
			</tr>
	
			{{if sample.id != ""}}
				<tr class="hideable" style="display:none">
					<td></td>
					<td class="item">ID</td>
					<td>${sample.id}</td>
				</tr>
			{{/if}}
	
			{{if sample.source != ""}}
				<tr>
					<td></td>
					<td class="item">Source</td>
					<td>${sample.source}</td>
				</tr>
			{{/if}}
	
			{{if sample.owner.name != "" || sample.owner.contact != "" }}
				<tr class="hideable" style="display:none">
					<td></td>
					<td class="item">Owner</td>
					<td>
					${sample.owner.name}
					{{if sample.owner.contact != ""}}				
						<span class="faded">${sample.owner.contact}</span>
					{{/if}}
					</td>
				</tr>
			{{/if}}

			
			<tr class="hideable" style="display:none">
				<td></td>
				{{if !jQuery.isEmptyObject(sample.user)}}
				<td class="item">User</td>
				<td>
					<table>
						{{each sample.user}}
						<tr>
							<td>
								<span>${$value.name}</span>
				
								<span class="faded">${$value.description}</span>
								<span class="faded">${$value.type}</span>
								<span class="faded">${$value.value}</span>
								<span class="faded">${$value.unit}</span>
							</td>
						</tr>
						{{/each}}
					</table>
				</td>
				{{/if}}
			</tr>
	
		</table>
		</li>

	<!-- Measurement -->

		<li>
		<table class="measurement-details">

			<tr>
				<td class="category">Measurement</td>
				<td class="item">Results</td>			
				<td>
					<table>
						{{each measurement.results}}
							<tr>
								<td class="result-isotope">${$value.isotope}</td>
									<!-- Assay JSON ver.2.01 -->
									{{if $value.type == "measurement"}}
										<td class="result-symbol">&nbsp</td>
										{{if $value.value.length == 1 }}
											<td class="result-number">${$value.value[0]}</td>
											<td class="result-number"></td>														 
										{{/if}}
										{{if $value.value.length == 2 }}
											<td class="result-number">${$value.value[0]}</td>					 
											<td class="result-number">(${$value.value[1]})</td>	
										{{/if}}		
										{{if $value.value.length == 3 }}
											<td class="result-number">${$value.value[0]}</td>				 
											<td class="result-number">(+${$value.value[1]}-${$value.value[2]})</td> 
										{{/if}}	 
									{{/if}}								
						
									{{if $value.type == "limit"}}
										<td class="result-symbol">&lt</td>
										{{if $value.value.length == 1 }}
											<td class="result-number">${$value.value[0]}</td>			 
											<td class="result-number"></td>
										{{/if}}
										{{if $value.value.length == 2 }}
											<td class="result-number">${$value.value[0]}</td>					 
											<td class="result-number">(${$value.value[1]}%)</td>
										{{/if}}			 
									{{/if}}		 
						
									{{if $value.type == "range"}}
										<td class="result-symbol"></td>
										{{if $value.value.length == 2 }}
											<td class="result-number">${$value.value[0]}-${$value.value[1]}</td>
											<td class="result-number"></td>														 
										{{/if}}
										{{if $value.value.length == 3 }}
											<td class="result-number">${$value.value[0]}-${$value.value[1]}</td>					 
											<td class="result-number">(${$value.value[2]}%)</td>	
										{{/if}}	 
									{{/if}}		 
									
								<td class="result-unit">${$value.unit}</td>
							</tr>
						{{/each}}
					</table>
				</td>
			</tr>

			{{if measurement.institution != ""}}
				<tr class="hideable" style="display:none">
					<td class="category"></td>
					<td class="item">Institution</td>
					<td>${measurement.institution}</td>
				</tr>
			{{/if}}	

			{{if measurement.technique != ""}}	
				<tr class="hideable" style="display:none">
					<td></td>
					<td class="item">Technique</td>
					<td>${measurement.technique}</td>
				</tr>
			{{/if}}					
 
			{{if !jQuery.isEmptyObject(measurement.date) }}	
				<tr class="hideable" style="display:none">
					<td></td>
					<td class="item">Date</td>
					<td>
						{{if measurement.date.length == 1 }}
							${measurement.date[0]}
						{{else}}
							${measurement.date[0]} <span class="faded">to</span> ${measurement.date[1]}
						{{/if}}
					</td>
				</tr>
			{{/if}} 

			{{if measurement.requestor.name != "" || measurement.requestor.contact != "" }}
				<tr class="hideable" style="display:none">
					<td></td>
					<td class="item">Requestor</td>
					<td>
					${measurement.requestor.name}
					{{if measurement.requestor.contact != ""}}
						<span class="faded">${measurement.requestor.contact}</span>
					{{/if}}
					</td>
				</tr>
			{{/if}}

			{{if measurement.practitioner.name != "" || measurement.practitioner.contact != "" }}
				<tr class="hideable" style="display:none">
					<td></td>
					<td class="item">Practitioner</td>
					<td>
					${measurement.practitioner.name}
					{{if measurement.practitioner.contact != ""}}
						<span class="faded">${measurement.practitioner.contact}</span>
					{{/if}}
					</td>
				</tr>
			{{/if}}

			{{if measurement.description != ""}} 
				<tr class="hideable" style="display:none">
					<td></td>
					<td class="item">Description</td>
					<td class="m_description"><span class="faded">${measurement.description}</span></td>
				</tr>
			{{/if}}

			<tr class="hideable" style="display:none">
				<td></td>
				{{if !jQuery.isEmptyObject(measurement.user)}}
				<td class="item">User</td>
				<td>
					<table>
						{{each measurement.user}}
						<tr>
							<td>
								<span>${$value.name}</span>
				
								<span class="faded">${$value.description}</span>
								<span class="faded">${$value.type}</span>
								<span class="faded">${$value.value}</span>
								<span class="faded">${$value.unit}</span>
							</td>
						</tr>
						{{/each}}
					</table>
				</td>
				{{/if}}
			</tr>
		</table>
		</li>

	<!-- Data source / entry -->

		<li>
		<table class="data-details">

			<tr class="hideable" style="display:none">
				<td class="category">Data</td>
				<td class="item">Reference</td>
				<td><span class="faded">${data_source.reference}</span></td>
			</tr>

			<tr class="hideable" style="display:none">
				<td></td>
				<td class="item">Data entry</td>
				<td>
					<span class="faded"> ${data_source.input.name} ${data_source.input.contact} on ${data_source.input.date} spec v${specification}</span>				 
				</td>
			</tr>
			
			{{if data_source.notes != ""}}
				<tr class="hideable" style="display:none">
					<td></td>
					<td class="item">Notes</td>
					<td>${data_source.notes}</td>
				</tr>
			{{/if}}

			<tr class="hideable" style="display:none">
				<td></td>
				{{if !jQuery.isEmptyObject(data_source.user)}}
				<td class="item">User</td>
				<td>
					<table>
						{{each data_source.user}}
						<tr>
							<td>
								<span>${$value.name}</span>
				
								<span class="faded">${$value.description}</span>
								<span class="faded">${$value.type}</span>
								<span class="faded">${$value.value}</span>
								<span class="faded">${$value.unit}</span>
							</td>
						</tr>
						{{/each}}
					</table>
				</td>
				{{/if}}
			</tr>
		</table>	
		</li> 

	</ul>	 
				 
			</li>
		
		</ul>
	</span>

	<span id="export-menu">
		<ul class="export-option" style="display:none">
		<li class="error-menu"> 
			<a class="edit-assay" target="_blank" href="mailto:${error_email}?subject=Report Error at _id:${_id}" >Report error</a>
		</li>
		<li class="export-menu">
			<a>Export</a>
			<ul>
				<li><a class="export-json" >Export JSON</a></li>
				<li><a class="export-csv" >Export CSV</a></li>
				<li><a class="export-xml" >Export XML</a></li>
				<li><a class="export-html" >Export HTML</a></li>
			</ul>
		</li>
		<li class="edit-menu">
			<a>Edit</a>
			<ul>
				<li><a class="edit-assay">Update</a></li>
				<li><a class="clone-assay">Clone</a></li>
			</ul>
		</li>
		</ul>
	</span>

</div>

</div>
